body{
	margin: 0;
}
ul,li,h1,h2{
	border: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}
body a{
	text-decoration: none;
}
img{
	border:0;
}
/*head*/
.head{
	height:24px;
	border:1px solid #dfdfdf;
	background: #F6F6F6;

}
.head-con{
	width:1200px;
	/*border:1px solid blue;*/
	margin: 0 auto;
}
.head-con .hLeft{
	width:143px;
	height:100%;
	float:left;
	/*border:1px solid yellow;*/
}
.hLeft span{
	width: 70px;
	font-size:10px;
	text-align: center;
	line-height: 24px;
	border-right: 1px solid #ECECEC;
	float:left;

}
.head-con .hRight{
	width:334px;
	height: 24px;
	float:right;
	/*border:1px solid yellow;*/
}
.hRight .denglu{
	font-size: 10px;
	text-align: center;
	color: #E40077;
	line-height: 24px;
	text-decoration: none;
}
.hRight a{
	font-size: 10px;
	text-align: center;
	color: #888888;
	line-height: 24px;
	text-decoration: none;
}
.hRight img{
	vertical-align: middle;
}
.logo{
	width: 1200px;
	height:94px;
	margin: 0 auto;
	/*border:1px solid red;*/
}
.logo .left{
	width:295px;
	height:93px;
	/*border: 1px solid blue;*/
	float:left;
	line-height: 93px;
	/*clear:both;*/
}
.logo .left select{
	border:0;

}
.left img{
	height:92px;
	vertical-align: middle;
}
.logo .right{
	width:625px;
	height:93px;
	float:right;
}
.right .ss {
	width: 586px;
	height: 36px;
	margin-top: 15px;
	margin-bottom: 10px;
    /*background: yellow;*/
}
.ss input{
	padding: 0;
	margin: 0;
	border:0;
}
.ss .BY{
	width:489px;
	height:36px;
	margin-left: 0;
	margin-top: 0;
	float: left;
	border:1px solid #ccc;
	border-right: 0;
}

.ss .sousuo{
	width:85px;
	height:38px;
	line-height: 36px;
	text-align: center;
	border:0;
	background: #25B2FE;
}
.right .wz{
	font-size: 13px;
	color:#E40077;
	text-decoration: none;
}
.right .wz1{
	font-size: 13px;
	color:#666666;
	text-decoration: none;
}
.box{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}
.box-li{
	width:259px;
	height: 40px;
	color:#666;
	font-weight: bold;
	line-height: 40px;
	background: #E4E4E4;
	text-decoration: none;
	margin-left: 1px;
	float:left;
}
.li-first{
	width: 160px;
	height:38px;
	line-height: 38px;
	margin-left: 0;
	border-top: 2px solid #0085D0;
	color:#0085D0;
}
.box-li:hover{
	background: #f3f3f3;
}
.bannav{
	width:1200px;
	height:350px;
	margin-right: 10px;
	margin:0 auto;
	margin-bottom: 10px;
}
.nav{
	width: 156px;
	height: 346px;
	border:1px solid #B8D9E9;
	float:left;
}
.nav .navleft{
	width: 138px;
	height: 62px;
	margin: 0 auto;
	border-bottom: 1px solid #dfdfdf;
}
.navleft1{
	width: 138px;
	height:32px;
	border-bottom: 1px solid #dfdfdf;
	margin:0 auto;
}
.zd a{
	text-align: center;
	line-height: 32px;
	font-size: 12px;
	text-decoration: none;
	color:#333333;
}
.zd-1{
	text-align: center;
}
.navleft a{
	line-height: 62px;
	font-size: 15px;
}
.navleft .leftBOT{
	border-bottom: 0;
}
.navleft-picture{
	width: 21px;
	height: 21px;
	float: left;
	padding: 20px 10px 0 25px;
}
.zd a:hover{
	color:#29A7FE;
}
.banner{
	width: 740px;
	height: 350px;
	margin-left: 10px;
	position: relative;
	float:left;
}
.banner .pic{
	width: 740px;
	height: 350px;
	border:0;
	text-align: center;
	position: absolute;
	top:0;
	left:0;
	display: block;
}
.lis{
	z-index: 1;
}
.circle{
	width:168px;
	height:16px;
	margin: 0 auto;
	border: 1px solid red;
	position: absolute;
	bottom:8px;
	left:294px;
	z-index: 1;
	padding: 0;
	margin: 0;
}
.circle-li{
	width:16px;
	height:16px;
	line-height: 16px;
    border-radius: 50%;
    float: left;
    margin-left:5px;
    background: #D3D2D0;
    
}
.bannerleft{
	width:20px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	background:rgba(204,204,204,0.3);
	color: #fff;
	position: absolute;
	z-index: 1;
	top:140px;
	left: 0;
}
.bannerright{
	width:20px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	background:rgba(204,204,204,0.3);
	color: #fff;
	position: absolute;
	z-index: 1;
	top:140px;
	right:0;
}
.qixi{
	width:276px;
	height:347px;
	border: 1px solid #dfdfdf;	
	float:left;
	margin-left: 10px;
	margin-right: 0;
	/*display:inline;*/
}
.qixitop{
	width:276px;
	height:172px;
	/*border-bottom: 1px solid red;*/
	padding-top: 23px;
}
.qixitop .nav{
	width:234px;
	height:131px;
	/*border: 1px solid blue; */
	margin-left: 21px;
	display:inline;
}
.hfcx{
	width:52px;
	height: 66px;
	/*border: 1px solid red;*/
	margin-right: 36px;
	float:left;
}
.zz{
	margin-right: 0;
	float: left;
}
.hfcx a{
	text-decoration: none;
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
}
.hfcx img{
	margin-left: 10px;
}
.hfcx .tu{
	margin-top: 13px;
}
.hfcx a span{
	font-size: 11px;
	color:#4e4e4e;
	display: block;
}
.qixibot{
	width: 255px;
	height:152px;
	padding-left: 21px;
	/*border: 1px solid blue;*/
}
.cz{
	font-size: 12px;
	margin-left: 4px;
	margin-bottom: 0;
	float: left;
}
.dz{
	color:#ff0000;
	margin-right: 7px;
	float: right;
}
.phone-num{
	width: 233px;
	height: 34px;
	line-height: 34px;
	font-size: 12px;
	margin-top: 10px;
	color:#ccc;
}
.price{
	width: 42px;
	height: 34px;
	border: 1px solid #dfdfdf;
	margin-top: 10px;
	/*margin-left: 21px;*/
	float:left;
}
.online{
	width: 44px;
	height: 36px;
	background: #e40077;
	margin-left: 4px;
}
.price a{
	font-size: 11px;
	color: #666;
	line-height: 34px;
	margin-left: 9px;
	text-decoration: none;
}
.put{
	margin-left: 4px;
}
.CZ input{
	width: 90px;
	height: 35px;
	background: #33acfb;
	line-height: 35px;
	text-align: center;
	margin-top: 3px;
	margin-left: 74px;
	border: 0;
}
/*轮播*/
.LB{
	width: 1198px;
	height:179px;
	margin-top: 10px;
	border:1px solid #dfdfdf;
	/*background: red;*/
	margin: 0 auto;
}
.LB-li{
	width: 285px;
	height:160px;
	border-top:10px solid #dfdfdf;
	border-bottom:10px solid #dfdfdf;
	border-right:10px solid #dfdfdf;
	float: left;
}
.li-fir{
	border-left: 18px solid #dfdfdf;
}
.li-second{
	width: 235px;
	height:160px;
	border-top:10px solid #dfdfdf;
	border-bottom:10px solid #dfdfdf;
	border-right:15px solid #dfdfdf;
	float: left;
}
.LB h1,h2{
	margin:0;
	padding: 0;
}
.LB h1{
	margin-top: 11px;
	margin-left: 19px;
	font-size: 18px;
}
.LB-li h2{
	margin-top: 9px;
	margin-left: 19px;
	font-size: 12px;
	color:#666666;
}
.LB-li img{
	margin-bottom: 0;
	overflow: hidden;
	width:;
	float:right;
}
/*4G专区*/
.zqbox{
	width: 1198px;
	height: 425px;
	border-left: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	margin: 0 auto;
	margin-top: 10px;
}
.zqbox-top{
	width: 1197px;
	height: 47px;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.zqbox-top .zhuanqu{
	margin-left: 25px;
	font-size: 15px;
	text-align: center;
	color:#0085d0;
	font-weight: bold;
	line-height: 47px;
	float:left;
}
.zqbox-top .readmore{
	margin-left: 25px;
	font-size: 13px;
	text-align: center;
	line-height: 47px;
	color: #666666;
	float: right;
	margin-right: 25px;
}
.zqbox-top .readmore:hover{
	color: #0085D0;
}
.zqbox-bott{
	width:299px;
	height: 181px;
	padding-top: 6px;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf; 
	float: left;
}
.zqbox-bott a{
		display: block;
}
.zqbox-bott img{
	display: block;
}
.zqbox-bott img:hover{
		
}
.bott-left{
	padding-top: 0;
	height: 377px;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.bott-right{
	width:297px;
	height: 181px;
}
.bott-center{
	height:183px;
}
.zqbox-bott h1{
	font-size: 18px;
	margin-left:20px; 
	color:#333333;
}
.zqbox-bott h2{
	font-size: 14px;
	margin-left:20px; 
	color:#666666;
}
.zqbox-bott img{
	float: right;
}
.zqbox-bott img:hover{
	margin-left: 5px;
}
.bg{
	background: #EFEFEF;
}
.bg h1{
	color:#E40077;
}
/*手机*/
.phone{
	width: 1198px;
	height: 428px;
	border-left: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
	margin: 0 auto;
	margin-top: 10px;
}
.phone-top{
	width: 1196px;
	height: 47px;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.phone-top .readmore:hover{
	color: #0085D0;
}
.phone-top .buy{
	margin-left: 25px;
	font-size: 15px;
	text-align: center;
	color:#0085d0;
	font-weight: bold;
	line-height: 47px;
	float:left;
}
.phone-top .readmore{
	margin-left: 25px;
	font-size: 13px;
	text-align: center;
	line-height: 47px;
	color: #666666;
	float: right;
	margin-right: 25px;
}
.phone-bot{
	width: 298px;
	height: 380px;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	float: left;
	position: relative;
}
.phone-bot a{
	display: block;
}
.phone-right{
	width: 299px;
}
.phone-bot h1{
	font-size: 12px;
	color:#666666;
	margin-left: 20px;
	margin-top: 24px;
}
.phone-bot h2{
	font-size: 11px;
	color:#0085d0;
	margin-left: 20px;
	margin-top: 8px;
}
.phone-bot h3{
	font-size: 15px;
	color:#ef33a2;
	margin-left: 20px;
	margin-top: 23px;
}
.phone-bot .qiqiu{
	position: absolute;
	right:30px;
	top:18px;
}
.phone-bot .sj{
	float:right;
	margin-right: 5px;
	margin-bottom: 12px;
}
/*业务推荐*/
.ywbox{
	width:1200px;
	height:425px;
	margin:0 auto;
	margin-top: 10px;
}
.ywboxtop{
	width:1198px;
	height:47px;
	border:1px solid #DFDFDF;
	line-height: 47px;
	text-align: left;
	
}
.ywboxtop .readmore:hover{
	color: #0085D0;
}
.ywboxtop .recommend{
	float:left;
	color: #0085D0;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 25px;
}
.ywboxtop .readmore{
	float:right;
	color: #666666;
	margin-right: 25px;
	text-decoration: none;
	font-size: 13px;
}
.ywboxbot{
	height:378px;
	width:1200px;
}
.ywboxbot-left{
    width: 299px;
    height: 182px;
    padding-top: 6px;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    float: left;
    list-style: none;
}
.ywboxbot-left a{
	display: block;
}
.left-big{
	width: 298px;
    height: 377px;
    padding-top: 0;
    border-left: 1px solid #DFDFDF;
    float: left;
}
.ywboxbot-left img{
	float:right;
}
.ywboxbot-left img:hover{
	margin-left: 5px;
}
.ywboxbot-left a{
	text-decoration: none;	
}
.ywboxbot-left h1{
	font-size: 18px;
	font-weight: bold;
	margin-left: 21px;
	color:#333333;
}
.ywboxbot-left h2{
	font-size: 14px;
	margin-left: 21px;
	color:#666666;
}
/*公告栏*/
.notice{
	width:1198px; 
	margin: 0 auto;
	height:36px;
	border: 1px solid #dfdfdf;
	margin-top: 10px;
	
}
.notice img{
	margin-left: 20px;
	margin-top: 10px;
}
.notic span{
	font-size: 13px;
	line-height: 36px;
	margin-left: 7px;
}
.date{
	color:#ccd3e0;
	font-size: 11px;
	margin-left: 18px;
}
.notic a{
	font-size: 13px;
}
.notice-left{
	margin-left: 14px;
	color:#2f85d8;
}
.notice-right{
	margin-left: 65px;
	color:#2f85d8;
}
.get{
	color:#2f85d8;
	margin-left: 120px;
}
/*最后*/
.last{
	height: 229px;
	width: 1198px;
	border:1px solid #dedede;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 30px;
}
.last .last1{
	margin-top: 27px;
	margin-bottom: 27px;
	width: 234px;
	height: 175px;
	float: left;
}
.last1 a{
	text-decoration: none;
	color: #666666;
	display: block;
	margin-bottom: 12px;
	font-size: 13px;
}
.last1 .one{	
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-left:  35px;

}
.last1 .one1{
	color: #666666;
	font-size: 13px;
	margin-bottom: 12px;
	margin-left:  35px;
}
.one1 a:hover{
	color:#0085D0;
}
/*版权*/
.bq{
	width:1198px;
	margin-top: 30px;
	height:179px;
	/*border:1px solid red;*/
	margin: 0 auto;
}
.bq .bq1{
	color: #333;
	font-size: 11px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}
.bq1 a{
	color: #666666;
	font-size: 11px;
}
.bq1 a:hover{
	color:#0085D0;
}
.bq-pic a{
	display: block;
	margin-bottom: 0;
	margin-left: 470px;
}
.gm img{
	position: fixed;
}